
.env
aspnet-keys/
secrets.json
*.pfx
*.certificate

.continue/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
.librarymanager/
.vsconfig
nupkg/
*.log

.dockerignore

node_modules/
npm-debug.log*
wwwroot/lib/

Thumbs.db
.DS_Store